<h2>Claim your listing!</h2>
<p>
  If you are the owner of the company of the listing here, you may claim it.
  Claiming allows you to have full control over the information on your company,
  rather than allowing the public to fill out the information. Please follow the instructions below.
</p>

<h4>Process</h4>
<p>
  You must prove that the following details are correct.
  After pressing submit, your information will be submitted for review to Boxbee.
  The claim will be processed within 3 business days and you will be notified at the email we have on file.
</p>

<%= form_for @claim do |f| %>
  <!-- Error handling -->
  <% if @claim.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@claim.errors.count, "error") %>.</h4>
      <ul>
        <% @claim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Main form -->
  Your name: <%= "#{@user.first_name} #{@user.last_name}" %><br/>
  Your email: <%= "#{@user.email}" %><br/>
  Company to claim: <%= "#{@company.name}" %><br/>
  Company website: <%= "#{@company.website_url}" %><br/>
  <%= f.hidden_field :user_id, value: "#{@user.id}" %>
  <%= f.hidden_field :company_id, value: "#{@company.id}" %>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-success' %>
  </div>

<% end %>
