<!-- Above the fold + Call to action -->
<%= content_tag :div, class: 'top-fold-image' do %>
	<h1 id="title-header">Our software powers On-Demand Storage. You have a storage company, we make it work.</h1>
	<div class="centered-title" style="margin-top:25px;">
		<%= link_to 'Join Our Beta Program', new_beta_survey_path, class: 'btn-cta' %>
	</div>
<% end %>

<!-- Detail section -->
<div id="detail-section">
	<h2 style="text-align:center;">Our platform is designed to make starting and managing an on-demand storage company easy.</h2>
	<h4 style="margin-bottom:50px;text-align:center;">Our software helps you manage every aspect of your growing business.</h4>
	<div class="row" style="text-align:center;">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<span class="glyphicon glyphicon-edit main-icon"></span>
			<h3>Make it your own.</h3>
			<p>
				Choose your name, your domain and your colors.
				Create the exact storage service you want including pricing, operating area and items stored.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<span class="glyphicon glyphicon-barcode main-icon"></span>
			<h3>Your tech team.</h3>
			<p>
				We keep the software up-to date and running smoothly so you
				don't have to make expensive and time-consuming engineering investments.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<span class="glyphicon glyphicon-dashboard main-icon"></span>
			<h3>All-in-one system.</h3>
			<p>
				Manage your warehouse, your vans and your team in one place. And give your customers an elegant way
				to make appointments and see what they have in storage with you.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<span class="glyphicon glyphicon-piggy-bank main-icon"></span>
			<h3>Easy, fair pricing.</h3>
			<p>
				It's free to set up your storage company on our platform. You don't pay anything to us until customers
				start paying you. We charge a small commission on your monthly sales.
			</p>
		</div>
	</div>
</div>

<!--Bottom CTA section -->
<div id="bottom-cta-section">
	<h2 style="margin-bottom:40px; text-align:center;">Let Us Show You The Future Of On-Demand Storage.</h2>
	<%= link_to 'Join Our Beta Program', new_beta_survey_path, class: 'btn-cta-secondary' %>
</div>

<!--Investors section -->
<div class="row centered-div">
	<div id="investors">
		<%= link_to(image_tag('googleventures.png'), 'http://www.googleventures.com', class: 'img-space') %>
		<%= link_to(image_tag('floodgate.svg', height: '20px'), 'http://www.floodgate.com', class: 'img-space') %>
		<%= link_to(image_tag('lucasventures.png'), 'http://www.lucasvg.com', class: 'img-space') %>
		<%= link_to(image_tag('metamorphic.png'), 'http://www.metamorphicvc.com', class: 'img-space') %>
	</div>
</div>
