<!-- Above the fold + Call to action -->
<%= content_tag :div, class: 'top-fold-image' do %>
	<h1 class="title-header" style="padding-top:180px;">We make it easy to start, manage, and grow</h1>
	<h1 class="title-header" style="margin-bottom:50px;">your On-Demand Storage company.</h1>
	<div class="centered-title" style="margin-top:25px;">
		<%= link_to 'Join Our Beta Program', new_beta_survey_path, class: 'btn-cta' %>
	</div>
<% end %>

<!-- Detail section -->
<div id="detail-section">
	<div class="centered-div" style="width:60%;">
		<h2 style="margin-bottom:50px;">Our software powers On-Demand Storage.</h2>
	</div>
	<div class="row" style="text-align:center;">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'boxbee-icons-01.svg' %>
			<h4>Customizable</h4>
			<p>
				Create the storage service you want including branding, pricing, operating area, and types of items stored.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'boxbee-icons-02.svg' %>
			<h4>End-To-End Solution</h4>
			<p>
				Manage your warehouse, vehicles, customer billing, and employees with powerful, easy-to-use tools.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'boxbee-icons-03.svg' %>
			<h4>No-Hassles</h4>
			<p>
				We keep the software updated and running smoothly so you don't need expensive
				engineering investments.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'boxbee-icons-04.svg' %>
			<h4>Easy Pricing</h4>
			<p>
				Setup is free. You pay a small commission only when you get paying customers for your storage service.
			</p>
		</div>
	</div>
</div>

<!--Bottom CTA section -->
<div id="bottom-cta-section">
	<div class="centered-div" style="width:60%;">
		<h2 style="margin-bottom:40px; color:white;">We're sending invitations out over the next few months for our beta program.</h2>
		<%= link_to 'Join Our Beta Program', new_beta_survey_path, class: 'btn-cta-inverted' %>
	</div>
</div>

<!--Investors section -->
<div class="row centered-div" style="margin:0;">
	<div id="investors">
		<%= link_to(image_tag('googleventures.png'), 'http://www.googleventures.com', class: 'img-space') %>
		<%= link_to(image_tag('floodgate.svg', height: '20px'), 'http://www.floodgate.com', class: 'img-space') %>
		<%= link_to(image_tag('lucasventures.png'), 'http://www.lucasvg.com', class: 'img-space') %>
		<%= link_to(image_tag('metamorphic.png'), 'http://www.metamorphic.vc', class: 'img-space') %>
	</div>
</div>
<hr style="border-color:#4a4a4a;margin:0;">
