<!-- how it works section  -->
<section id="how-it-works">
	<div class="container holder">
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <h2>We Power On-Demand Storage</h2>
        <p>We pioneered the On-Demand Storage industry in New York City and San Francisco. We now run a software platform that powers On-Demand Storage services delivered by anyone.</p>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
				<div class="form-holder">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>Find an On-Demand Storage service near you.</h3>

							<small><%= link_to "Add your service", new_company_path %></small>
							<%= form_tag companies_path, method: 'get', id: "companies-search" do %>
								<p>
									<%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Type in your city' %>
									<%= submit_tag "Search", name: nil, class: 'btn-login' %>
								</p>
							<% end %>
						</div>
					</div>
				</div>
      </div>
	  </div>

	  <div class="row">
	    <div class="col-sm-6 col-xs-12 col-sm-push-6 box">

          <p>If you provide On-Demand Storage services to your customers (or want to) and are interested in early access to our On-Demand Storage platform, join the Boxbee Beta program.</p>
          <p><%= link_to "Apply to the Boxbee Beta program", beta_program_path %></p>
	    </div>

      <div class="col-sm-6 col-xs-12 col-sm-pull-6 box">
        <div class="img-holder">
          <%= image_tag 'Boxbee-02.svg', alt: "Boxbee" %>
        </div>
      </div>
	  </div>

	  <div class="row">
	    <div class=" col-md-6 col-sm-6 col-xs-12 box">

        <p>We're always on the lookout for daring, smart, nice people who are interested in doing big things. Join our growing team.</p>

	    </div>

	    <div class=" col-md-6 col-sm-6 col-xs-12 box">
	      <div class="img-holder">
          <%= image_tag 'Boxbee-01.svg', alt: "Boxbee" %>
	      </div>
      </div>
	  </div>
	</div>
</section>

<section id='investors'>
        <div class='container'>
        	<br>
          <div class='row'>
            <div class="col-lg-2 col-md-2  col-xs-4 box">
              <%= image_tag 'googleventures.png', class: 'google' %>
            </div>
            <div class="col-lg-2 col-md-2  col-xs-4 box">
              <%= image_tag 'metamorphic.png' %>
            </div>
            <div class="col-lg-2 col-md-2  col-xs-4 box">
              <%= image_tag 'floodgate.svg', height: '16px', class: 'floodgate' %>
            </div>
            <div class="col-lg-2 col-md-2  col-xs-4 box lucas">
              <%= image_tag 'lucasventures.png', class: 'lucas' %>
            </div>
          </div>
        </div>
</section>
