<div class="hero-art-layer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6" style="position:relative; height:488px; max-width:500px;">
				<div class="content-block">
					<h1>We Power Full-Service Storage</h1>
					<p>
						Self-storage companies (big and small) use Boxbee to offer on-demand pickup and delivery to their
						customers.
					</p>
				</div>
			</div>
			<div class="col-xs-6">
				<%= image_tag 'flying-macbook.png', size: '442x488' %>
			</div>
		</div>
	</div>
</div>
<div class="e2e-section" id="e2e-section">
	<div class="row">
		<div class="col-xs-6" style="position:relative;">
			<%= image_tag 'laptop_phone.png', width: '823' %>
		</div>
		<div class="col-xs-6" style="max-width:500px; position:relative; height:541px;">
			<div class="content-block" style="top:40%;">
				<h1 style="color:black;">For Self-Storage Entrepreneurs</h1>
				<p>
					Our end-to-end software solution helps entrepreneurs manage an entire Full-Service Storage business. Signing up customers,
					accepting pickup and delivery appointments, and managing drivers and warehouses is brilliantly easy. No technical know-how needed.
				</p>
				<%= link_to 'Join our beta program', new_beta_survey_path, class: 'btn-cta-black', style: 'margin-top:20px;' %>
			</div>
		</div>
	</div>
</div>
<div class="apis-section">
	<div class="row">
		<div class="col-xs-6" style="padding-left:70px;">
			<h1>
				For Self-Storage Companies
			</h1>
			<p style="color:white;">
				Our powerful APIs help established self-storage companies add on-demand pickup and delivery features to their own website.
				Tools to manage everything from appointments to vehicles to warehouses to customer billing can be integrated into their own existing systems.
			</p>
				<%= mail_to 'api@boxbee.com', 'Email us to learn more', class: 'btn-cta-black', style: 'margin-top:20px;' %>
		</div>
		<div class="col-xs-6" style="position:relative; height:300px;">
			<div class="content-block" style="top:40%; padding-left:70px;">
				<%= image_tag 'api.png' %>
				<%= image_tag 'web-development.png' %>
			</div>
		</div>
	</div>
</div>

<div class="investors-section">
	<%= image_tag 'googleventures.png', style: 'margin: 0px 20px'%>
	<%= image_tag 'floodgate.png', style: 'margin: 0px 20px'%>
	<%= image_tag 'Lucas-logo.png', style: 'margin: 0px 20px'%>
	<%= image_tag 'metamorphic.png', style: 'margin: 0px 20px'%>
</div>

<div class="bottom-cta">
	<%= link_to 'Current Customer Login', 'https://www.boxbeestorage.com/simplestorage', class: 'btn-cta-black centered-div', style: 'margin-top:25px' %>
</div>
