<%= content_tag :div, class: 'media', id: "company-#{company.id}" do %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media-left">
        <%= image_tag(company.logo.url(:listing)) if company.logo? %>
      </div>
      <div class="media-body">
        <h4><%="#{company.name}"%></h4>
        <p><%="#{company.description}"%></p><br/>
        Serving the following cities:
        <% company.cities.each do |city| %>
          <%= "#{city.name} " %>
        <% end %>

      </div>
      <div class="media-right">
        <%= button_to "Visit company", "#{company.website_url}", class: "btn-amber"%>
      </div>
    </li>
  </ul>
<% end %>
