<% if !company.hold || (current_user.admin? if current_user) %>
  <%= content_tag :div, class: 'col-sm-4 col-md-4 col-lg-4', id: "company-#{company.id}" do %>
    <div class="panel panel-default company-result">
      <div class="panel-body company">
        <div class="company-logo">
          <%= image_tag(company.logo.url(:listing)) if company.logo? %>
        </div>
        <div class="centered">
          <h4><%="#{company.name}"%></h4><br/>
          <p><%="#{company.description}"%></p>
        </div>
        <div class="centered">
          Serving:<br/>
          <% ct = 1 %>
          <% company.cities.each do |city| %>
            <% if ct == company.cities.length || company.cities.length == 1 %> <%# if it's the last or only %>
              <%= city.country == "United States" ? "#{city.name}, #{city.state}" : "#{city.name}, #{city.country}" %>
            <% else %><%#otherwise add a pipe %>
              <%= city.country == "United States" ? "#{city.name}, #{city.state} | " : "#{city.name}, #{city.country} | " %>
            <% end %>
            <% ct += 1 %>
          <% end %>
        </div>
        <% if (current_user.admin? if current_user) %>
          <% if company.hold? %>
            <div id="approve-listing" class="centered-title">
            <%= content_tag :div, id: "approve-listing-#{company.id}", class: 'centered-title' do %>
              <%= link_to "Approve listing", {controller: 'companies', action: 'approve_listing', id: company.id}, remote: true %>
            <% end %>
            </div>
          <% end %>
          <div id="delete-listing" class="centered-title">
          <%= content_tag :div, id: "delete-listing-#{company.id}", class: 'centered-title' do %>
            <%= link_to "Delete listing", company, method: :delete, remote: true %> | <%= link_to "Edit this listing", edit_company_path(company) %>

          <% end %>
          </div>
          <%= content_tag :div, nil, id: "listing-status-#{company.id}" %>
          <div class="centered-title">
            <%= form_for company, url: {action: 'change_rank', id: company.id} do |f| %>
              <%= text_field_tag :change_to_rank, company.rank, class: 'form-control', style: 'width: 40px; display:inline;' %>
              <%= f.submit "Change Rank", class: 'btn-rank' %>
            <% end %>
          </div>
        <% end %>
        <div class="centered bottom-placeholder">
          <%= link_to "View Website", "#{company.website_url}", class: "btn-login btn-company_url", target: '_blank'%>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
