<%= form_for company, html: {onsubmit: "return formValidation();"}  do |f| %>
  <!-- Error handling -->
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(company.errors.count, "error") %>.</h4>
      <ul>
        <% company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User info collection -->
  <div class="form-group">
    <%= label_tag :first_name, "Your First Name" %>
    <% if @session_user_info %>
      <%= text_field_tag :first_name, @session_user_info[0], class: 'form-control' %>
    <% elsif company.user %>
      <%= text_field_tag :first_name, company.user.first_name, class: 'form-control' %>
    <% else %>
      <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'Please enter your first name.', required: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, "Your Last Name" %>
    <% if @session_user_info %>
      <%= text_field_tag :last_name, @session_user_info[1], class: 'form-control' %>
    <% elsif company.user %>
      <%= text_field_tag :last_name, company.user.last_name, class: 'form-control' %>
    <% else %>
      <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Please enter your last name.', required: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= label_tag :email, "Your Email Address" %>
    <% if @session_user_info %>
      <%= email_field_tag :email, @session_user_info[2], class: 'form-control', required: true %>
    <% elsif company.user %>
      <%= email_field_tag :email, company.user.email, class: 'form-control', required: true %>
    <% else %>
      <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Please enter your email address in case we need to contact you.' %>
    <% end %>
  </div>

  <!-- Main form -->
  <%= form_group_tag(company.errors[:name]) do %>
    <%= f.label :name, "Your Company Name" %>
    <% if @session_company_info %>
      <%= f.text_field :name, value: @session_company_info[0], class: 'form-control', placeholder: "Please enter the name of your company", maxlength: 25, required: true %>
    <% else %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Please enter the name of your company.", maxlength: 30, required: true %>
    <% end %>
  <% end %>

  <%= form_group_tag(company.errors[:description]) do %>
    <%= f.label :description, "Your Company Description" %><span class="countdown"></span>
    <%= f.text_area :description, class: 'form-control', placeholder: "Please enter a short description of the service you provide.", cols: 20, rows: 3, maxlength: 90, required: true %>
  <% end %>

  <%= form_group_tag(company.errors[:website_url]) do %>
    <%= f.label :website_url, "Your Company Website" %>
    <% if @session_company_info %>
      <%= f.text_field :website_url, value: @session_company_info[1], class: 'form-control', placeholder: "Please enter the full URL of your company's website. For example 'http://www.boxbee.com'", required: true %>
    <% else %>
      <%= f.text_field :website_url, class: 'form-control', placeholder: "Please enter your company's website. For example 'http://www.boxbee.com'", required: true %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :logo, "Your Company Logo" %>
    <%= f.file_field :logo %>
  </div>

  <div class="form-group">
    <%= f.label :city_gmap_entry, "Your Service Area" %><br/>
    <div id="error-city"></div>
    <%= search_field_tag :city_gmap_entry, nil, class: "form-control cities-input", placeholder: "Please choose the city you serve. (Begin typing to see a list)", autocomplete: :off %>
    <div id="cities-form-list">
      <% if request.env['PATH_INFO'] != '/companies/new' && company.cities %>
        <% company.cities.each do |city| %>
          <%= content_tag :div, id: "city-#{company.id}-#{city.id}" do %>
            <%="#{city.name}, #{city.country}" if city.sub_locality.nil? && city.state.nil? %>
            <%= "#{city.sub_locality}, #{city.name}, #{city.state} #{city.country}" if city.sub_locality %>
            <%= "#{city.name}, #{city.state}, #{city.country}" if city.sub_locality.nil? %>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller: 'companies', action: 'delete_city', id: company.id, city: city}, remote: true %>
          <% end %>
        <% end %>
      <% end %>
      <div id="client-cities"></div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Your Company", class: 'btn-login' %>
  </div>
  <br/>
  <br/>
<% end %>

<!-- #Where does the async defer go? -->
<%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&signed_in=true&libraries=places&callback=initAutocomplete" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
