<%= form_for company do |f| %>
  <!-- Error handling -->
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(company.errors.count, "error") %>.</h4>
      <ul>
        <% company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User info collection -->
  <%= label_tag :first_name, "First name" %>
  <% if @session_user_info %>
    <%= text_field_tag :first_name, value: "#{@session_user_info[0]}", class: 'form-control' %>
  <% else %>
    <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'Please enter your first name' %>
  <% end %>

  <%= label_tag :last_name, "Last name" %>
  <% if @session_user_info %>
    <%= text_field_tag :last_name, value: "#{@session_user_info[1]}", class: 'form-control' %>
  <% else %>
    <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Please enter your last name' %>
  <% end %>

  <%= label_tag :email, "Email" %>
  <% if @session_user_info %>
    <%= text_field_tag :email, value: "#{@session_user_info[2]}", class: 'form-control' %>
  <% else %>
    <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Please enter your email' %>
  <% end %>

  <!-- Main form -->
  <%= form_group_tag(company.errors[:name]) do %>
    <%= f.label :name, "Company name" %>
    <% if @session_company_info %>
      <%= f.text_field :name, value: "#{@session_company_info[0]}", class: 'form-control', placeholder: "Enter the name of your company", required: true %>
    <% else %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter the name of your company.", required: true %>
    <% end %>
  <% end %>

  <%= form_group_tag(company.errors[:description]) do %>
    <%= f.label :description %><span class="countdown"></span>
    <%= f.text_area :description, class: 'form-control', placeholder: "Enter a short description of the services you provide.", cols: 20, rows: 3, maxlength: 90, required: true %>
  <% end %>

  <%= form_group_tag(company.errors[:website_url]) do %>
    <%= f.label :website_url %>
    <% if @session_company_info %>
      <%= f.url_field :website_url, value: "#{@session_company_info[1]}", class: 'form-control', placeholder: "What's your website full URL? E.g. 'http://www.boxbee.com'", required: true %>
    <% else %>
      <%= f.url_field :website_url, class: 'form-control', placeholder: "Enter the complete URL of your website - e.g. 'http://www.boxbee.com'", required: true %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>

  <div class="form-group">
    <%= f.label "Which cities are you in?" %><br/>
    <%= text_field_tag :cities, nil, class: "form-control cities-input", placeholder: "Enter the city you serve, in 'city, state, country' format.", required: true%>
    <%= link_to "I serve multiple cities", 'javascript:void(0);', id: 'serve-multiple-cities' %>
    <div id="multiple-cities-container">
      <small>Enter up to six more cities!</small>
      <% 6.times do |i| %>
        <%= text_field_tag "cities#{i}", nil, class: "form-control cities-input", placeholder: "Enter another city (if applicable)" %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn-login' %>
  </div>
  <br/>
  <br/>
<% end %>
