<%= form_for company do |f| %>
  <!-- Error handling -->
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(company.errors.count, "error") %>.</h4>
      <ul>
        <% company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Main form -->
  <%= form_group_tag(company.errors[:name]) do %>
    <%= f.label :name %>
    <% if @session_company_info %>
      <%= f.text_field :name, value: "#{@session_company_info[0]}", class: 'form-control', placeholder: "Enter the name of your company", required: true %>
    <% else %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter the name of your company", required: true %>
    <% end %>
  <% end %>

  <%= form_group_tag(company.errors[:description]) do %>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: "Enter a short description of why yours is the best!", cols: 20, rows: 3, required: true %>
  <% end %>

  <%= form_group_tag(company.errors[:website_url]) do %>
    <%= f.label :website_url %>
    <% if @session_company_info %>
      <%= f.url_field :website_url, value: "#{@session_company_info[1]}", class: 'form-control', placeholder: "What's your website full URL? E.g. 'http://www.boxbee.com'", required: true %>
    <% else %>
      <%= f.url_field :website_url, class: 'form-control', placeholder: "What's your website full URL? E.g. 'http://www.boxbee.com'", required: true %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>

  <div class="form-group">
    <%= f.label "Which city are you in?" %><br/>
    <%= text_field_tag :cities, nil, class: "form-control cities-input", placeholder: "Enter the city you serve, in 'city, state, country' format." %>  
  </div>

  <div class="form-group">
    <%= f.submit "Publish", class: 'btn-login' %>
  </div>
  <br/>
  <br/>
<% end %>
