<%= form_for company do |f| %>
  <!-- Error handling -->
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(company.errors.count, "error") %>.</h4>
      <ul>
        <% company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User info collection -->
  <div class="form-group">
    <%= label_tag :first_name, "Your First Name" %>
    <% if @session_user_info %>
      <%= text_field_tag :first_name, @session_user_info[0], class: 'form-control' %>
    <% else %>
      <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'Please enter your first name.' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, "Your Last Name" %>
    <% if @session_user_info %>
      <%= text_field_tag :last_name, @session_user_info[1], class: 'form-control' %>
    <% else %>
      <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Please enter your last name.' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= label_tag :email, "Your Email Address" %>
    <% if @session_user_info %>
      <%= email_field_tag :email, @session_user_info[2], class: 'form-control' %>
    <% else %>
      <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Please enter your email address in case we need to contact you.' %>
    <% end %>
  </div>

  <!-- Main form -->
  <%= form_group_tag(company.errors[:name]) do %>
    <%= f.label :name, "Your Company Name" %>
    <% if @session_company_info %>
      <%= f.text_field :name, value: @session_company_info[0], class: 'form-control', placeholder: "Please enter the name of your company", maxlength: 25, required: true %>
    <% else %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Please enter the name of your company.", maxlength: 30, required: true %>
    <% end %>
  <% end %>

  <%= form_group_tag(company.errors[:description]) do %>
    <%= f.label :description, "Your Company Description" %>
    <%= f.text_area :description, class: 'form-control', placeholder: "Please enter a short description of the service you provide.", cols: 20, rows: 3, maxlength: 90, required: true %>
  <% end %>

  <%= form_group_tag(company.errors[:website_url]) do %>
    <%= f.label :website_url, "Your Company Website" %>
    <% if @session_company_info %>
      <%= f.text_field :website_url, value: @session_company_info[1], class: 'form-control', placeholder: "Please enter the full URL of your company's website. For example 'http://www.boxbee.com'", required: true %>
    <% else %>
      <%= f.text_field :website_url, class: 'form-control', placeholder: "Please enter your company's website. For example 'http://www.boxbee.com'", required: true %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :logo, "Your Company Logo" %>
    <%= f.file_field :logo %>
  </div>

  <div class="form-group">
    <%= f.label :cities,"Your Service Area" %><br/>
    <%= text_field_tag :cities, nil, class: "form-control cities-input", placeholder: "Please choose the city you serve. (Begin typing to see a list)", pattern: "^([a-zA-Z]+\s*)+,\s[a-zA-Z]+,\s([a-zA-Z]+\s*)+$", title: "You must select a valid city from the list", required: true, autocomplete: :off %>
    <%= link_to "Add a city", 'javascript:void(0);', id: 'serve-multiple-cities' %>
    <div id="multiple-cities-container">
      <small>Enter up to six more cities!</small>
      <% 6.times do |i| %>
        <%= text_field_tag "cities#{i}", nil, class: "form-control cities-input", placeholder: "Enter another city (if applicable)", autocomplete: :off %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Your Company", class: 'btn-login' %>
  </div>
  <br/>
  <br/>
<% end %>
