<div class="container holder">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_tag companies_path, method: 'get', id: "companies-search" do %>
        <p>
          <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Choose a city...' %>
          <%= submit_tag "Search", name: nil, class: 'btn-login' %>
        </p>
      <% end %>
    </div>
  </div>

  <% if @companies.length >= 1 %>
    <p><%= " #{@companies.all.count} companies in #{@city} " %></p>
    <small><%= link_to 'Submit your company', new_company_path %></small>
    <%= render partial: 'company', collection: @companies %>
  <% else %>
    <div style="padding-bottom:500px;">
      <p><%= "Be the first company in #{@city}." %></p>
      <small><%= link_to 'Submit your company', new_company_path %></small>
    </div>
  <% end %>
</div>
