<div class="container holder">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_tag companies_path, method: 'get', id: "companies-search" do %>
        <p>
          <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Type in your city' %>
          <%= submit_tag "Search", name: nil, class: 'btn-login' %>
        </p>
      <% end %>
    </div>
  </div>
  <p><%= " #{@city} : #{@companies.all.count}" %></p>
  <small><%= link_to 'Submit your company', new_company_path %></small>

  <!--<h2>List of companies</h2>-->
    <%= render partial: 'company', collection: @companies %>
</div>
