<div class="container holder legacy">
  <h2><%="#{@company.name}"%></h2>
  <%= render partial: 'company', locals: {company: @company} %>
<h2><%="#{@company.name}"%></h2>

<div class="row">
  <div class="col-md-3">
    <%= image_tag(@company.logo.url(:listing)) if @company.logo? %>
  </div>
  <div class="col-md-6">
    <strong>Description:</strong> <%= "#{@company.description}" %><br/>
    <strong>Website:</strong> <%= link_to "#{@company.website_url}", "#{@company.website_url}"  %><br/>
    <strong>Serving:</strong> <% @company.cities.each {|city| "#{city.name} "}  %><br/>
  </div>
  <div class="col-md-3">
    <%= link_to "Edit listing", edit_company_path(@company), class: "btn-login" unless @company.claimed? && !@company.claimed_by?(current_user) %>
    <% if current_user && @company.claimed_by?(current_user) %>
      <span class="glyphicon glyphicon-ok"></span>You have already claimed this business.
    <% else %>
      <%= link_to "Claim this business", new_claim_path, class: "btn-amber" %>
    <% end %>
  </div>
</div>
