<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New beta program applicant has applied!</h1>
    <p>A new applicant has applied for the BaaP Beta Program. Please see the information below. </p>
    <ul>
      <li><strong>Company name </strong><%= "#{@beta_survey.company_name}"%></li>
      <li><strong>Company website </strong><%= "#{@beta_survey.company_website}"%></li>
      <li><strong>Preferred contact method </strong><%= "#{@beta_survey.preferred_contact_method}"%></li>
      <li><strong>Do you currently offer storage services to your customers?  </strong><%= "#{@beta_survey.currently_offer_storage}"%></li>
      <li><strong>If yes, how do you manage your warehouse?  </strong><%= "#{@beta_survey.how_manage_warehouse}"%></li>
      <li><strong>Do you offer pickup and delivery to your customers?   </strong><%= "#{@beta_survey.offer_transport}"%></li>
      <li><strong>If yes, how do you manage your vehicles and drivers? </strong><%= "#{@beta_survey.how_manage_vehicles}"%></li>
      <li><strong>If yes, how do customers currently make appointments for pickup and delivery?  </strong><%= "#{@beta_survey.how_bookings_done}"%></li>
    </ul>
  </body>
</html>
