<!-- footer of the page -->
<footer id="footer">
	<div class="footer-frame">
	  <div class="container">
	    <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box">
          <h2 style="text-align:center;">Contact Us</h2>
          <p style="text-align:center;">
            220 Water Street<br/>
            Brooklyn, NY 11201<br/>
            <%= mail_to 'boxbeeinc@boxbee.com' %>
          </p>
        </div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box">
          <h2 style="text-align:center;">Join Us</h2>
          <p style="text-align:center;">
            <%= link_to 'Join Our Beta Program', new_beta_survey_path %><br/>
            <%= link_to 'Work With Us', 'http://boxbee.workable.com' %><br/>
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box">
          <h2 style="text-align:center;">Legal</h2>
          <p style="text-align:center;">
            <%= link_to "Terms of Service", terms_path %><br/>
            <%= link_to "Privacy Policy", privacy_path %><br/>
							&#9400; <%="#{DateTime.now.strftime('%Y')}"%> Boxbee, Inc.
          </p>
        </div>
	    </div>
	  </div>
	</div>
</footer>
