<!-- footer of the page -->
<footer id="footer">
	<div class="footer-frame">
	  <div class="container">
	    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 box">
          <h2>Legal</h2>
          <p>
            <%= link_to "Terms of Service", terms_path %><br/>
            <%= link_to "Privacy Policy", privacy_path %><br/>
							&#9400;<%="#{DateTime.now.strftime('%Y')}"%> Boxbee, Inc.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 box">
          <h2>Contact</h2>
          <p>
            220 Water Street<br/>
            Brooklyn, NY 11201<br/>
            <%= mail_to 'boxbeeinc@boxbee.com' %>
          </p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 box">
          <h2 style="margin-bottom:-15px">Investors</h2>
					<div class="row">
						<div class="col-sm-6">
							<%= image_tag 'googleventures.png', class: 'google' %>
						</div>
						<div class="col-sm-6" style="margin-top:15px;">
							<%= image_tag 'metamorphic.png' %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6" style="margin-top:15px;">
							<%= image_tag 'floodgate.svg', height: '16px', class: 'floodgate' %>
						</div>
						<div class="col-sm-6" style="margin-top:6px;">
							<%= image_tag 'lucasventures.png', class: 'lucas', size: '225x37'  %>
						</div>
					</div>

        </div>
	    </div>
	  </div>
	</div>
</footer>
