<header id="header">
  <div class="header-content">
    <% if current_user %>
      <% if current_user.admin? %>
        <div class="admin-dropdown" style="float:right;">
          <button type="button" data-toggle="dropdown" class="btn-neutral" style="margin-left:5px;">Admin <i class="glyphicon glyphicon-chevron-down"></i></button>
          <ul class="dropdown-menu" style="left:auto; max-width:100px;">
            <li><%= link_to "Admin Home", admin_path %></li>
            <li><%= link_to "Admin Logout", destroy_user_session_path, method: 'delete'%></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: 'logout' %>
      <% end %>
    <% end %>
    <strong class="logo">
      <%= link_to image_tag("logo-home.png"), root_path %>
    </strong>
    <%= link_to 'Join Our Beta Program', new_beta_survey_path, class: 'main-nav' %>
    <%= link_to 'Blog', blog_posts_path, class: 'main-nav' %>
    <%= link_to 'Customer Login', 'https://www.boxbeestorage.com', class: 'main-nav' %>
    <%= link_to "We're Hiring", 'http://boxbee.workable.com', class: 'main-nav' %>
  </div>
</header>
