<header id="header">
  <div class="header-content">
    <% if current_user %>
      <% if current_user.admin? %>
        <div class="admin-dropdown">
          <button type="button" data-toggle="dropdown" class="btn-login">Admin v</button>
          <ul class="dropdown-menu" style="right:0; left:auto; max-width:100px;">
            <li><%= link_to "Admin Home", admin_path, class: 'logout' %></li>
            <li><%= link_to "Admin Logout", destroy_user_session_path, method: 'delete', class: 'logout'%></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: 'logout' %>
      <% end %>
    <% end %>
    <strong class="logo">
      <%= link_to image_tag("logo-home.png"), root_path %>
    </strong>
    <%= link_to "Current Customers", 'https://www.boxbeestorage.com', class: "btn-login" %>
  </div>
</header>
