<!DOCTYPE html>
<html>
<head>
  <title>Boxbee: We Power On-Demand Storage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/header' %>
<% if flash[:notice]  %>
    <div class="alert alert-success flashes">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
<% elsif flash[:error]  %>
  <div class="alert alert-danger flashes">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert]  %>
  <div class="alert alert-danger flashes">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>
<%= yield %>
<%=render partial: 'layouts/footer' %>
<% render partial: 'layouts/google_analytics' %>
</body>
</html>
